body {
  background-color: #007EA7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
