body {
  background-color: #007EA7;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#diary-entry {
  width: 500px;
  height: 260px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: left;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 25;
  margin-right: 25;
  
}

#save-entry {
  background-color: #007EA7;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
